
/* ------------------------------------------------------------------------------- */

/* Div: cont-9: Contiene el titulo y la descripcion 
        cont-10: Contiene las fotos y el carrusel*/

.cont-9 {
  border: none;
  width: 90%;
}

.cont-10 {
  width: 90%;
  height: 30vi;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


  

}

/* ID:  title-8: titulo
        desc-4: descripcion
        carrusel-0: carrusel de fotos
        img-1: imagenes del carrusel */

#title-8 {
  font-size: 2.5vi;
  margin-bottom: 0;
}

#desc-4 {
  font-size: 1.8vi;
}

#carrusel-0 {
  width: 30vi;
  height: 100%;
  border: none;
}

#img-1 {
  width: 100%;
  height: 29.5vi;
  
}

#img-2{
    margin: 2%;
    width: 45%;
    height: 46%;
}

#left {
  display: flex;
  flex-wrap: wrap;
  width: 27vi;
  border: none;
  height: 100%;
  
  

}

#rigth {
  display: flex;
  flex-wrap: wrap;
  width: 27vi;
  border: none;
  height: 100%;
  

}

#png-1{
   
    width: 100%;
    height: 100%;
    border: none;
}
