.main-confirmacion {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  padding: 4rem 2rem 2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Contenedorr-Confirmacion {
  position: relative;
  width: 90%;
  max-width: 900px;
  height: 540px;
  background-color: white;
  border-radius: 2.2rem;
  box-shadow: rgba(100, 100, 111, 0.404) 0px 7px 29px 0px;
}

.Contenedorr-Datos {
  position: absolute;
  width: calc(100% - 2.1rem);
  height: calc(100% - 2.1rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.datos-confirmacion {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transition: 0.8s ease-in-out;
  background-color: #ffe843;
  border-radius: 2.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-confirmacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.info-confirmacion h3 {
  font-weight: 700;
  color: #883c77;
}

.info-confirmacion p {
  font-weight: 500;
  color: #757575;
}

.botones-confirmacion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-1790 {
  display: inline-block;
  margin-top: 1rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  padding: 1rem 3rem;
  background: var(--primary);
  border-radius: 0.5rem;
  color: var(--white);
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.btn-1790:hover {
  transition: all 0.3s ease-out;
  background: #efefef;
  color: var(--primary);
  transition: 250ms;
}
