.principal{
    padding: 93px;
}

.cabezal{
    display: flex;
    justify-content: space-between;
}

.cabezal-izquierda{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cabezal-derecha{
    display: flex;
    align-items: center;
    text-align: center;
}

.botonsito{
    border: 1px solid aqua;
    border-radius: 2px;
    cursor: pointer;
    width: 80px;
    height: 30px;
    text-decoration: none;
}

.mostrar-habitaciones{
    display: flex;
    justify-content: space-between;
}

.habitacion{
    width: 270px;
    height: 360px;
    margin-top: 20px;
}

.imagen{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
}



.futer-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.botonsito-1{
    margin: 10px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    height: 100%;
    position: relative;
}
.futer-izquierda{
    color: white;
    font-size: smaller;
    margin: 10px;
}

.sneci{
    font-size: small;
    color: black;
}

.sneci-1{
    font-size: medium;
    color: black;
}

.futer-derecha{
    color: black;
    margin: 10px;
}



.padre-boton{
    text-align: center;
    width: 270px;
    height: 50px;
    background-color: #FFD143;
    justify-content: center;
    padding-top: 12px;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
}

