:root {
  --teal: #ffe843;
  --teal_hover: #279e8c;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-bg {
  background-color: var(--teal);
  border: 1px solid var(--teal);
  font-weight: 450;
}
.custom-bg:hover {
  background-color: white;
  border-color: var(--teal);
  font-weight: 500;
}
.custom-bg2 {
  background-color: var(white);
  border: 1px solid var(--teal);
  font-weight: 450;
}
.custom-bg2:hover {
  background-color: var(--teal);
  border-color: var(--teal-hover);
  font-weight: 500;
}

.h-line {
  width: 150px;
  margin: 0 auto;
  height: 1.7px;
}

#mySlider {
  width: 130px;
  height: 10px;
  background-color: #ddd;
}

#mySlider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #555;
  cursor: pointer;
}

.bannerHabServ {
  background-color: #de92d1;
  width: 100%;
  height: 20vh;
  border-radius: 20px;
  display: flex;
  justify-content: left;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
  box-shadow: calc(clamp(0px, var(--horiz), 2px))
      calc(clamp(0px, var(--vert), 2px)) 2px calc(var(--spread))
      rgba(0, 0, 0, 0.233),
    calc(2 * var(--horiz)) calc(2 * var(--vert)) calc(var(--blur))
      calc(var(--spread)) rgba(0, 0, 0, 0.2),
    calc(3 * var(--horiz)) calc(3 * var(--vert)) calc(var(--blur))
      calc(var(--spread)) rgba(0, 0, 0, 0.123),
    calc(5 * var(--horiz)) calc(5 * var(--vert)) calc(var(--blur))
      calc(var(--spread)) rgba(0, 0, 0, 0.076),
    calc(8 * var(--horiz)) calc(8 * var(--vert)) calc(var(--blur))
      calc(var(--spread)) rgba(0, 0, 0, 0.047),
    calc(13 * var(--horiz)) calc(13 * var(--vert)) calc(var(--blur))
      calc(var(--spread)) rgba(0, 0, 0, 0.028);
}

.h1-HabServ {
  display: flex;
  padding-top: 6vh;
  padding-left: 5vh;
  font-size: 8vh;
}
