
/* ------------------------------------------------------------------------------------- */

/* Divs: cont-7: Ttiene el ttitulo descripcion y boton,
         cont-8: contiene el mapa*/

/* Id: title-5: titulo,
        txt-6: Descripcion,
        map-1: Estilos del mapa 
        btn-3: Boton para desplegar mapa*/
.cont-7 {
  display: flex;
  flex-wrap: wrap;
  border: none;
  width: 90%;
  height: 12vi;
  margin-bottom: 1%;
}

.cont-8 {
  border: none;
  width: 90%;
  height: 33vi;
}

#title-5 {
  font-size: 2.5vi;
  margin-bottom: 0;
  margin-bottom: 0;
}

#txt-6 {
  font-size: 1.8vi;
  margin-top: 0;
}

#map-1 {
  width: 100%;
  height: 30vi;
  border: solid 1px #a9659a;
  border-radius: 1rem;
  box-shadow: #a9659a 0px 10px 20px, #a9659a 0px 6px 6px;
}

#map-2 {
  border-radius: 1rem;
  margin-top: 1%;
}

@media (max-width: 640px) {
  #txt-6 {
    font-size: 2vi;
  }
}
