/* div: cont-11: titulo y descripcion
        acordeon: contien las preguntas y sus respuestas */

.cont-11{
    border: none;
    width: 90%;
}

.acordeon{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    border: 1px solid blue;
    border-radius: 1rem;
    box-shadow: 6px 11px 15px -3px rgba(245,106,245,1);

}

.ques-1{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}



/* id: title-8 */

#title-9{
    font-size: 3vi;
    margin-bottom: 0;
}

#acr-1, #acr-2{
    width: 50%;
}

#q-1{
    text-align: justify;
    width: 49%;
   border-left: 1px solid gray;
   border-bottom: 1px solid gray;
   box-shadow: -4px 4px 15px -3px rgba(245,106,245,1);

    
}

#desc-8{
    font-size: 1.8vi;
}

#txt-11, #txt-12, #txt-13, #txt-14{
    margin-left: 3%;
    margin-bottom: 0;
    margin-left: 1%;
}

#icon-1,#icon-2,#icon-3,#icon-4{
    width: 4%;
    height: 4%;
    margin-right: 3%;
}



@media (max-width: 640px) {
    .acordeon{
        display: flex;
        flex-direction: column;
    }
    .ques-1{
        display: flex;
    }
    #icon-1,#icon-2,#icon-3,#icon-4{
        width: 7%;
        height: 7%;
    }

    #acr-1, #acr-2{
        width: 100%;
    }

    #title-9{
        font-size: 3.5vi;
        margin-bottom: 0;
    }

    #desc-8{
        font-size: 2.5vi;
    }
    
}
