.cont {
  border: none;
  width: 40%;
  height: 40%vh;
  background-image: url("../Images/Fondo3.avif");
  box-shadow: 10px 11px 29px -7px rgba(0,0,0,0.75);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2rem;
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 4%;
}

.cont2 {
  border: none;
}
.text1 {
  margin-top: 1rem;
  margin: 0.6rem;
  font-size: 1vi;
  text-align: left;
  text-decoration: none;
  color: black;
}

.text2 {
  font-size: 2vi;
}

.text3 {
  margin-left: 0.5rem;
  font-size: 1.5vi;
  text-align: left;
}

.img1 {
  width: 40%;
  height: 40%;
}

.cont3 {
  border: none;
}

.text4,
.text5 {
  text-align: left;
  font-size: 1.5vi;
  margin: 1rem;
  word-spacing: 1rem;
}
.text4{
  word-spacing: 1em;
}


 .text5{
  margin-left: 2rem;
  margin-bottom: 2rem;
 }

 .text6{
  font-size: 1.5rem;
 }

 /* ------------------------------------------------ */

@media (max-width:640px){
  .cont {
    margin-left: 0;
    border: none;
    width: 100%;
    height: 100%;
    background-image: url("../Images/Fondo3.avif");
    box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.24);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    display: flex; 
    border: none;
  }
  .cont2{
    border: none;
    width: 30vi;
    
  }
  .cont3 {
    border: none;
    width: 30vi;
    
  }

  .text1 {
    flex: 1;
    margin-top: 1rem;
    margin: 0.6rem;
    font-size: 2vi;
    text-align: left;
    text-decoration: none;
    color: black;
  }
  
  .text2 {
    font-size: 2vi;
  }
  
  .text3 {
    
    margin-left: 0.5rem;
    font-size: 1.5vi;
    text-align: left;
  }
  
  .img1 {
    margin-top: 5%;
    width: 30vi;
    height: 30vi;
  }
  
  
  
  .text4,
  .text5 {
    margin: .2rem;
    text-align: left;
    font-size: 2vi;
    margin-top: 1rem;
    
    
    /* word-spacing: .4rem; */
  }

  .text6{
    margin-top: 5%;
    font-size: 3vi;
  }
  /* .text4{
    word-spacing: 1em;
  }
  
  
   .text5{
    margin-left: 2rem;
    margin-bottom: 2rem;
   } */
  
}

