/* <div className="txt-3">
<p className='title-2'>NUESTROS SERVICIOS</p>
<p id='sub-1'>Ofrecemos los mejores servicios</p>

<div className='cont-4'>Servicios de atencion al cliente</div>
<div className='cont-5'>Disponibilidad en cualquier día del año</div>
<div className='cont-6'>Descuentos y promociones</div>
<div className='cont-7'>Siempre dispuestos a mejorar</div>
</div> */


.txt-3{
    border: none;
    margin-top: 5%;
    width: 90vi;
}

/* Contenedor de los servicios */
.cont-4{
    display: flex;
    flex-direction: row;
    border: none;
    width: 90%;
    height: 10vi;
    border-radius: 1rem;
    margin-bottom: 3%;
    box-shadow: 10px 10px 19px -4px rgba(0,0,0,0.57);

}

.cont-5{
    border: none;
    width: 100%;
}


#img2{
    margin-left: 2%;
    width: 12%;
    height: 100%;
}
#title-2{
    font-size: 3vi;
    color: #a9659a;
}

#title-3{
    font-size: 2.4vi;
    margin-left: 5%;
    margin-bottom: 0;
    color: #a35a93;
}

#txt-5{
    font-size: 2vi;
    margin-left: 5%;
}

#sub-1{
    font-size: 4vi;
    color: #f5c526ec;
}
