.con{
    padding: 93px;
}


.bi{
    border: 1px solid aqua;
    border-radius: 2px;
    width: 80px;
    cursor: pointer;
}


.cabeza{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.afuera{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.bloque-1{
    border: 1px solid yellow;
    border-radius: 22px;
    background-color: #FFD143;
    color: black;
    width: 630px;
    height: 380px;
    padding: 20px;
}

.bloque-1-cabeza{
    display: flex;
    justify-content: space-between;
}

.bloque-1-1{
    display: flex;
    flex-direction: column;
    width: 90px;
    height: 90px;
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.bloque-2{
    display: flex;
    flex-wrap: wrap;
    color: black;
    width: 100%;
    height: 380px;
}


.caja-lateral-1{
    width: 335px;
    height: 180px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.imagen{
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.desde{
    text-align: center;
    font-size: smaller;
}

.price{
    text-align: center;
    margin-top: 10px;
}

.adicion{
    margin-top: 10px;
    font-size: smaller;
}