:root {
  --primary: #883c77;
  --white-color: #fff;
}

.btn-111 {
  padding: 5px 5px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  border: none;
  justify-self: end;
}

.btn-111:hover {
  padding: 10px 15px;
  transition: all 0.3s ease-out;
  background: #efefef;
  color: var(--primary);
  transition: 250ms;
}

.btn-111--primary {
  background-color: var(--primary);
}

.btn-111--outline {
  background-color: transparent;
  color: var(--white-color);
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn-111--medium {
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 0.65rem;
  color: var(--white-color);
}

.btn-111--large {
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 0.65rem;
  color: var(--white-color);
}
